%li.nav-item
  = link_to 'Dashboard', client_path, class: 'nav-link'
%li.nav-item
  = link_to 'Ordered Photo sessions', client_photo_sessions_path, class: 'nav-link'
%li.nav-item
  = link_to 'Photo Album', client_path, class: 'nav-link'
