.sticky-top
  %ul.d-flex.justify-content-center
    %li.list-group-item
      %a{:href => "#terms"} Terms of service
    %li.list-group-item
      %a{:href => "#privacy"} Privacy Policy
    %li.list-group-item
      %a{:href => "#return"} Return, refund and cancellation policy
    %li.list-group-item
      %a{:href => "#customer"} Customer service contact information
%div
  .jumbotron.jumbotron-fluid
    .container
      %nav{"aria-label" => "breadcrumb", :role => "navigation"}
        %ol.breadcrumb
          %li.breadcrumb-item
            %a{:href => "#"} Home
          %li.breadcrumb-item
            %a{:href => "#"} Pages
          %li.breadcrumb-item.active Terms
      %h1.display-3 Terms of Service
      %p.lead
        %strong Please read these Terms of Service carefully as they contain important information about your legal rights, remedies and obligations. By accessing or using the Photo Booking Platform, you agree to comply with and be bound by these Terms of Service.
      %p Last Updated: May 9, 2018
  .card.sticky-top
.container
  %h2
    %a{:name => "terms"} Terms of service
  %p
    Here is a terms.
    %br/
    These Terms of Service ("Terms") constitute a legally binding agreement ("Agreement") between you and Airbnb (as defined below) governing your access to and use of the Airbnb website, including any subdomains thereof, and any other websites through which Airbnb makes its services available (collectively, "Site"), our mobile, tablet and other smart device applications, and application program interfaces (collectively, "Application") and all associated services (collectively, "Airbnb Services"). The Site, Application and Airbnb Services together are hereinafter collectively referred to as the “Airbnb Platform”. Our Host Guarantee Terms, Guest Refund Policy, Nondiscrimination Policy and other Policies applicable to your use of the Airbnb Platform are incorporated by reference into this Agreement.
    When these Terms mention “Airbnb,” “we,” “us,” or “our,” it refers to the Airbnb company you are contracting with. Your contracting entity will generally be determined based on your Country of Residence. Your “Country of Residence” is the jurisdiction associated with your Airbnb Account as determined by either your express selection or by Airbnb’s assessment of your residence using various data attributes associated with your Airbnb Account.
    If your Country of Residence is the United States, you are contracting with Airbnb, Inc., 888 Brannan Street, 4th Floor, San Francisco, CA 94103, United States.
    If your Country of Residence is outside of the United States, the People’s Republic of China (which for purposes of these Terms does not include Hong Kong, Macau and Taiwan) (hereinafter “China”) and Japan, you are contracting with Airbnb Ireland UC (“Airbnb Ireland”), The Watermarque Building, South Lotts Road, Ringsend, Dublin 4, Ireland.
    If your Country of Residence is China, you are contracting with Airbnb Internet (Beijing) Co., Ltd. (“Airbnb China”) except where you book a Host Service (as defined below) or when you create a Listing located outside of China, in which case you are contracting with Airbnb Ireland for that transaction.
    If your Country of Residence is Japan, you are contracting with Airbnb Global Services Limited ("Airbnb GSL"), 25-28 North Wall Quay, Dublin 1, D01 H104, Ireland, except where you book a Host Service (as defined below) or when you create a Listing located outside of Japan, in which case you are contracting with Airbnb Ireland for that transaction. Additionally, if your contracting entity is Airbnb GSL, you will nevertheless contract with Airbnb Ireland for all bookings confirmed prior to June 13, 2018 at 3:00 pm UTC.
    If you change your Country of Residence, the Airbnb company you contract with will be determined by your new Country of Residence as specified above, from the date on which your Country of Residence changes.
    Our collection and use of personal information in connection with your access to and use of the Airbnb Platform is described in our Privacy Policy.
    Any and all payment processing services through or in connection with your use of the Airbnb Platform ("Payment Services") are provided to you by one or more Airbnb Payments entities (individually and collectively, as appropriate, "Airbnb Payments") as set out in the Payments Terms of Service ("Payments Terms").
    Hosts alone are responsible for identifying, understanding, and complying with all laws, rules and regulations that apply to their Listings and Host Services. For example, some cities have laws that restrict their ability to host paying guests for short periods or provide certain Host Services. In many cities, Hosts may have to register, get a permit or obtain a license before providing certain Host Services (such as preparing food, serving alcohol for sale, guiding tours or operating a vehicle). Host are alone responsible for identifying and obtaining any required licenses, permits, or registrations for any Host Services they offer. Certain types of Host Services may be prohibited altogether. Penalties may include fines or other enforcement. We provide some information in our Help Center to help you identify some of the obligations that apply to you. If you have questions about how local laws apply to your Listing(s) and Host Service(s) on Airbnb, you should always seek legal guidance.
    %br>/
    Table of Contents
    Scope of Airbnb Services
    Eligibility, Using the Airbnb Platform, Member Verification
    Modification of these Terms
    Account Registration
    %br/
  %h3 Content
  Service Fees
  Terms specific for Hosts
  Terms specific for Guests
  Booking Modifications, Cancellations and Refunds, Resolution Center
  Ratings and Reviews
  %br>/
  Damage to Accommodations, Disputes between Members
  Rounding off, Currency conversion
%div
  .container
    %h2
      %a{:name => "privacy"} Privacy Policy
    %p
      Here is a privacy PolicyThese Terms of Service ("Terms") constitute a legally binding agreement ("Agreement") between you and Airbnb (as defined below) governing your access to and use of the Airbnb website, including any subdomains thereof, and any other websites through which Airbnb makes its services available (collectively, "Site"), our mobile, tablet and other smart device applications, and application program interfaces (collectively, "Application") and all associated services (collectively, "Airbnb Services"). The Site, Application and Airbnb Services together are hereinafter collectively referred to as the “Airbnb Platform”. Our Host Guarantee Terms, Guest Refund Policy, Nondiscrimination Policy and other Policies applicable to your use of the Airbnb Platform are incorporated by reference into this Agreement.
      When these Terms mention “Airbnb,” “we,” “us,” or “our,” it refers to the Airbnb company you are contracting with. Your contracting entity will generally be determined based on your Country of Residence. Your “Country of Residence” is the jurisdiction associated with your Airbnb Account as determined by either your express selection or by Airbnb’s assessment of your residence using various data attributes associated with your Airbnb Account.
      If your Country of Residence is the United States, you are contracting with Airbnb, Inc., 888 Brannan Street, 4th Floor, San Francisco, CA 94103, United States.
      If your Country of Residence is outside of the United States, the People’s Republic of China (which for purposes of these Terms does not include Hong Kong, Macau and Taiwan) (hereinafter “China”) and Japan, you are contracting with Airbnb Ireland UC (“Airbnb Ireland”), The Watermarque Building, South Lotts Road, Ringsend, Dublin 4, Ireland.
      If your Country of Residence is China, you are contracting with Airbnb Internet (Beijing) Co., Ltd. (“Airbnb China”) except where you book a Host Service (as defined below) or when you create a Listing located outside of China, in which case you are contracting with Airbnb Ireland for that transaction.
      If your Country of Residence is Japan, you are contracting with Airbnb Global Services Limited ("Airbnb GSL"), 25-28 North Wall Quay, Dublin 1, D01 H104, Ireland, except where you book a Host Service (as defined below) or when you create a Listing located outside of Japan, in which case you are contracting with Airbnb Ireland for that transaction. Additionally, if your contracting entity is Airbnb GSL, you will nevertheless contract with Airbnb Ireland for all bookings confirmed prior to June 13, 2018 at 3:00 pm UTC.
      If you change your Country of Residence, the Airbnb company you contract with will be determined by your new Country of Residence as specified above, from the date on which your Country of Residence changes.
      Our collection and use of personal information in connection with your access to and use of the Airbnb Platform is described in our Privacy Policy.
      Any and all payment processing services through or in connection with your use of the Airbnb Platform ("Payment Services") are provided to you by one or more Airbnb Payments entities (individually and collectively, as appropriate, "Airbnb Payments") as set out in the Payments Terms of Service ("Payments Terms").
      Hosts alone are responsible for identifying, understanding, and complying with all laws, rules and regulations that apply to their Listings and Host Services. For example, some cities have laws that restrict their ability to host paying guests for short periods or provide certain Host Services. In many cities, Hosts may have to register, get a permit or obtain a license before providing certain Host Services (such as preparing food, serving alcohol for sale, guiding tours or operating a vehicle). Host are alone responsible for identifying and obtaining any required licenses, permits, or registrations for any Host Services they offer. Certain types of Host Services may be prohibited altogether. Penalties may include fines or other enforcement. We provide some information in our Help Center to help you identify some of the obligations that apply to you. If you have questions about how local laws apply to your Listing(s) and Host Service(s) on Airbnb, you should always seek legal guidance.
      Table of Contents
      Scope of Airbnb Services
      Eligibility, Using the Airbnb Platform, Member Verification
      Modification of these Terms
      Account Registration
      Content
      Service Fees
      Terms specific for Hosts
      Terms specific for Guests
      Booking Modifications, Cancellations and Refunds, Resolution Center
      Ratings and Reviews
      Damage to Accommodations, Disputes between Members
      Rounding off, Currency conversion
%div
%script{:src => "assets/js/jquery.min.js"}
.container
  %h2
    %a{:name => "return"} Return, refund and cancellation policy
  %p
    These Terms of Service ("Terms") constitute a legally binding agreement ("Agreement") between you and Airbnb (as defined below) governing your access to and use of the Airbnb website, including any subdomains thereof, and any other websites through which Airbnb makes its services available (collectively, "Site"), our mobile, tablet and other smart device applications, and application program interfaces (collectively, "Application") and all associated services (collectively, "Airbnb Services"). The Site, Application and Airbnb Services together are hereinafter collectively referred to as the “Airbnb Platform”. Our Host Guarantee Terms, Guest Refund Policy, Nondiscrimination Policy and other Policies applicable to your use of the Airbnb Platform are incorporated by reference into this Agreement.
    When these Terms mention “Airbnb,” “we,” “us,” or “our,” it refers to the Airbnb company you are contracting with. Your contracting entity will generally be determined based on your Country of Residence. Your “Country of Residence” is the jurisdiction associated with your Airbnb Account as determined by either your express selection or by Airbnb’s assessment of your residence using various data attributes associated with your Airbnb Account.
    If your Country of Residence is the United States, you are contracting with Airbnb, Inc., 888 Brannan Street, 4th Floor, San Francisco, CA 94103, United States.
    If your Country of Residence is outside of the United States, the People’s Republic of China (which for purposes of these Terms does not include Hong Kong, Macau and Taiwan) (hereinafter “China”) and Japan, you are contracting with Airbnb Ireland UC (“Airbnb Ireland”), The Watermarque Building, South Lotts Road, Ringsend, Dublin 4, Ireland.
    If your Country of Residence is China, you are contracting with Airbnb Internet (Beijing) Co., Ltd. (“Airbnb China”) except where you book a Host Service (as defined below) or when you create a Listing located outside of China, in which case you are contracting with Airbnb Ireland for that transaction.
    If your Country of Residence is Japan, you are contracting with Airbnb Global Services Limited ("Airbnb GSL"), 25-28 North Wall Quay, Dublin 1, D01 H104, Ireland, except where you book a Host Service (as defined below) or when you create a Listing located outside of Japan, in which case you are contracting with Airbnb Ireland for that transaction. Additionally, if your contracting entity is Airbnb GSL, you will nevertheless contract with Airbnb Ireland for all bookings confirmed prior to June 13, 2018 at 3:00 pm UTC.
    If you change your Country of Residence, the Airbnb company you contract with will be determined by your new Country of Residence as specified above, from the date on which your Country of Residence changes.
    Our collection and use of personal information in connection with your access to and use of the Airbnb Platform is described in our Privacy Policy.
    Any and all payment processing services through or in connection with your use of the Airbnb Platform ("Payment Services") are provided to you by one or more Airbnb Payments entities (individually and collectively, as appropriate, "Airbnb Payments") as set out in the Payments Terms of Service ("Payments Terms").
    Hosts alone are responsible for identifying, understanding, and complying with all laws, rules and regulations that apply to their Listings and Host Services. For example, some cities have laws that restrict their ability to host paying guests for short periods or provide certain Host Services. In many cities, Hosts may have to register, get a permit or obtain a license before providing certain Host Services (such as preparing food, serving alcohol for sale, guiding tours or operating a vehicle). Host are alone responsible for identifying and obtaining any required licenses, permits, or registrations for any Host Services they offer. Certain types of Host Services may be prohibited altogether. Penalties may include fines or other enforcement. We provide some information in our Help Center to help you identify some of the obligations that apply to you. If you have questions about how local laws apply to your Listing(s) and Host Service(s) on Airbnb, you should always seek legal guidance.
    Table of Contents
    Scope of Airbnb Services
    Eligibility, Using the Airbnb Platform, Member Verification
    Modification of these Terms
    Account Registration
    Content
    Service Fees
    Terms specific for Hosts
    Terms specific for Guests
    Booking Modifications, Cancellations and Refunds, Resolution Center
    Ratings and Reviews
    Damage to Accommodations, Disputes between Members
    Rounding off, Currency conversion
    Taxes
  .container
    %h2
      %a{:name => "customer"} Customer service contct information
    %p Paragraph
%script{:src => "assets/js/popper.js"}
%script{:src => "bootstrap/js/bootstrap.min.js"}
/ IE10 viewport hack for Surface/desktop Windows 8 bug
%script{:src => "assets/js/ie10-viewport-bug-workaround.js"}
