#photosessions
  .row
    .col-3.left-sidebar
      = render 'sort_by', photosessions: @photosessions
      = render 'filters', photosessions: @photosessions
    .col-9
      .col-12
        = render 'results', photosessions: @photosessions
