%h1 Editing additional_option

= render 'form', url: edit_photographer_additional_option_path(@additional_option)

= link_to 'Show', [:photographer, @additional_option]
\|
= link_to 'Back', photographer_additional_options_path
