#photosession-sort-by
  %ul.nav.nav-pills.float-left
    %li.nav-item
      .nav-link.disabled
        Sort by:
    %li.nav-item= link_to 'Date', '#', class: 'nav-link active'
    %li.nav-item= link_to 'Price', '#', class: 'nav-link'
    %li.nav-item= link_to 'Rating', '#', class: 'nav-link'
  .float-right
    = @photosessions.total_count
    photosessions
  .clearfix
