#photosessions
  .row
    .col-3
      = render 'filters', photosessions: @photosessions
    .col-9
      .col-12
        = render 'sort_by', photosessions: @photosessions
      .col-12
        = render 'results', photosessions: @photosessions
