@import jquery-ui
@import bootstrap
@import profile
@import settings

#portfolio-content
  margin: 24px 0
  .pagination
    margin: 24px 0

#photosession-sort-by
  margin: 0 0 24px 0
#photosessions-result
  margin: 24px 0
  .photosession-card
    .rating
      color: gold
    .card-img
      img
        height: 382px
        width: 382px
    &:hover
      .card-img
        opacity: .4
        background: yellow
    margin-bottom: 12px
    .card-img-overlay
      background: rgba(0, 0, 0, .2)
      padding: 42px
      margin: 0 15px
      border-radius: 4px
      .card-text
        opacity: .6
      &:hover
        .card-text
          opacity: 1
      .book-btn
        position: absolute
        bottom: 5%
        right: 5%
  .photosession-item
    margin: 0 0 24px 0
    .photosession-item-content
      padding: 12px
      border: 2px solid #ccc
      .title
        font-size: 21px
        font-weight: 700
      .date
        margin: 4px 0
      .cities
        margin: 4px 0
      .price
        margin: 4px 0
      .description
        margin: 8px 0


// .photosession-info
//   background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,0.8)), color-stop(.8,#eee))
//   position: absolute
//   bottom: 0
//   left: 0
//   margin: 0 15px
//   z-index: 999
//   padding: 48px 50% 32px 24px
//   h1
//     color: #fff
//   .photosession-price
//     margin-right: 12px


.left-sidebar
  margin: 24px 0 0 0
  padding: 0

  #datepicker
    .ui-datepicker
      width: 243px

  .slider-range-wrapper
    padding: 10px

  .filter-section
    margin: 16px 0

  .filter-popular-cities, .filter-times, .filter-thematics
    ul
      list-style: none
      margin: 0
      padding: 0

.photosession-info-price
  font-size: 27px
  font-weight: 500
  position: relative
  top: 4px
  display: inline-block
  margin: 0 24px 0 0

#photosession-add-information
  margin-bottom: 48px
  .tab-content
    padding: 24px 0


#order-photosession
  padding: 48px 0
  h4
    color: #999
    margin-bottom: 48px
  .choose-photo-count
    h5
      margin-bottom: 24px
    #slider-photo-count
      width: 310px
      margin-bottom: 24px
    input[type=number]
      width: 70px

  .order-user-info
    h5
      margin-bottom: 24px
  .additional-option
    margin-top: 48px

.oreder-btn-controls
  margin: 48px 0

.how-it-works
  h1
    margin: 24px 0
    text-align: center
  ul
    padding: 0
    margin: 0 0 16px 16px

.use-cases
  margin: 48px 0
  h1
    margin: 24px 0
    text-align: center

.main-cover
  margin: 0 0 0 0
  padding: 48px 0 24px 0
  .photographer, .client
    text-align: center
    h2
      margin: 24px 0

.start-search-photosessions
  margin-top: 112px
  margin-bottom: 24px

.about-us
  h1
    margin: 24px 0
    text-align: center

.project-timeline
  h1
    margin: 24px 0
    text-align: center
  margin-bottom: 48px


.border-bottom-order
  border-bottom: 3px solid #ccc
