/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require_self
 */

@import "bootstrap"


#portfolio-content
  margin: 24px 0
  .pagination
    margin: 24px 0

#photosession-sort-by
  margin: 0 0 24px 0
#photosessions-result
  margin: 24px 0
  .photosession-card
    .rating
      color: gold
    .card-img
      img
        height: 382px
        width: 382px
    &:hover
      .card-img
        opacity: .4
        background: yellow
    margin-bottom: 12px
    .card-img-overlay
      background: rgba(0, 0, 0, .2)
      padding: 42px
      margin: 0 15px
      border-radius: 4px
      .card-text
        opacity: .6
      &:hover
        .card-text
          opacity: 1
      .book-btn
        position: absolute
        bottom: 5%
        right: 5%
  .photosession-item
    margin: 0 0 24px 0
    .photosession-item-content
      padding: 12px
      border: 2px solid #ccc
      .title
        font-size: 21px
        font-weight: 700
      .date
        margin: 4px 0
      .cities
        margin: 4px 0
      .price
        margin: 4px 0
      .description
        margin: 8px 0


// .photosession-info
//   background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,0.8)), color-stop(.8,#eee))
//   position: absolute
//   bottom: 0
//   left: 0
//   margin: 0 15px
//   z-index: 999
//   padding: 48px 50% 32px 24px
//   h1
//     color: #fff
//   .photosession-price
//     margin-right: 12px


.left-sidebar
  margin: 24px 0 0 0
  padding: 0

  #datepicker
    .ui-datepicker
      width: 243px

  .slider-range-wrapper
    padding: 10px

  .filter-section
    margin: 16px 0

  .filter-popular-cities, .filter-times, .filter-thematics
    ul
      list-style: none
      margin: 0
      padding: 0

.photosession-info-price
  font-size: 27px
  font-weight: 500
  position: relative
  top: 4px
  display: inline-block
  margin: 0 24px 0 0

#photosession-add-information
  margin-bottom: 48px
  .tab-content
    padding: 24px 0
