.row
  .col-3
    = render 'profile/sidebar'
  .col-8
    %h1 Editing photo_session

    = render 'form'

    = link_to 'Show', [:profile, @photo_session]
    \|
    = link_to 'Back', profile_photo_sessions_path
